
* {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
.noselect {-webkit-user-select: none;/* Chrome/Safari */-moz-user-select: none;/* Firefox */-ms-user-select: none;/* IE10+ */}
h4 {width: 75%;text-align: center;font-weight: normal;color: #666;font-size: 14px;margin: 0 auto 1em auto;padding: 1em;background: #ffe6e6;}
h5 {font-size: 1em;font-weight: bold;}
p {text-align: center;margin: 3em auto 1em auto;padding-top: 0.5em;padding-bottom: 0.5em;border-bottom: 2px solid #414141;background: #f4f4f4;}
.left-align {text-align: left;}
.right-align {text-align: right;}

.cal1 {margin: 30px auto;max-width: 600px;font-size: 14px;}
.cal1 .clndr .clndr-controls {display: inline-block;width: 100%;position: relative;margin-bottom: 10px;}
.cal1 .clndr .clndr-controls .month {float: left;width: 33%;text-align: center;}
.cal1 .clndr .clndr-controls .clndr-control-button {float: left;width: 33%;}
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {text-align: right;width: 34%;}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {cursor: pointer;-webkit-user-select: none;/* Chrome/Safari */-moz-user-select: none;/* Firefox */-ms-user-select: none;/* IE10+ */}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {background: #ddd;}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {opacity: 0.5;}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {background: none;cursor: default;}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {cursor: pointer;-webkit-user-select: none;/* Chrome/Safari */-moz-user-select: none;/* Firefox */-ms-user-select: none;/* IE10+ */}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {background: #ddd;}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {opacity: 0.5;}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {background: none;cursor: default;}
.cal1 .clndr .clndr-table {table-layout: fixed;width: 100%;}
.cal1 .clndr .clndr-table .header-days {height: 30px;font-size: 10px;background: #0D70A6;}
.cal1 .clndr .clndr-table .header-days .header-day {vertical-align: middle;text-align: center;border-left: 1px solid #000000;border-top: 1px solid #000000;color: #fff;}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {border-right: 1px solid #000000;}
.cal1 .clndr .clndr-table tr {height: 85px;}
.cal1 .clndr .clndr-table tr td {vertical-align: top;}
.cal1 .clndr .clndr-table tr .day {border-left: 1px solid #000000;border-top: 1px solid #000000;width: 100%;height: inherit;}
.cal1 .clndr .clndr-table tr .day:hover {background: #eee;}
.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {background: #9AD6E3;}
.cal1 .clndr .clndr-table tr .day.today:hover,
.cal1 .clndr .clndr-table tr .day.my-today:hover {background: #72c6d8;}
.cal1 .clndr .clndr-table tr .day.today.event,
.cal1 .clndr .clndr-table tr .day.my-today.event {background: #a7dbc1;}
.cal1 .clndr .clndr-table tr .day.event,
.cal1 .clndr .clndr-table tr .day.my-event {background: #B4E09F;}
.cal1 .clndr .clndr-table tr .day.event:hover,
.cal1 .clndr .clndr-table tr .day.my-event:hover {background: #96d478;}
.cal1 .clndr .clndr-table tr .day.inactive,
.cal1 .clndr .clndr-table tr .day.my-inactive {background: #ddd;}
.cal1 .clndr .clndr-table tr .day:last-child {border-right: 1px solid #000000;}
.cal1 .clndr .clndr-table tr .day .day-contents {box-sizing: border-box;padding: 8px;font-size: 12px;text-align: right;}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month,
.cal1 .clndr .clndr-table tr .my-empty,
.cal1 .clndr .clndr-table tr .my-adjacent-month {border-left: 1px solid #000000;border-top: 1px solid #000000;width: 100%;height: inherit;background: #eee;}
.cal1 .clndr .clndr-table tr .empty:hover,
.cal1 .clndr .clndr-table tr .adjacent-month:hover,
.cal1 .clndr .clndr-table tr .my-empty:hover,
.cal1 .clndr .clndr-table tr .my-adjacent-month:hover {background: #ddd;}
.cal1 .clndr .clndr-table tr .empty:last-child,
.cal1 .clndr .clndr-table tr .adjacent-month:last-child,
.cal1 .clndr .clndr-table tr .my-empty:last-child,
.cal1 .clndr .clndr-table tr .my-adjacent-month:last-child {border-right: 1px solid #000000;}
.cal1 .clndr .clndr-table tr:last-child .day,
.cal1 .clndr .clndr-table tr:last-child .my-day {border-bottom: 1px solid #000000;}
.cal1 .clndr .clndr-table tr:last-child .empty,
.cal1 .clndr .clndr-table tr:last-child .my-empty {border-bottom: 1px solid #000000;}

.cal2 {max-width: 177px;margin: 30px auto;}
.cal2 .clndr .clndr-controls {display: block;display: inline-block;width: 100%;margin-bottom: 3px;}
.cal2 .clndr .clndr-controls .clndr-previous-button {float: left;width: 10%;text-align: left;cursor: pointer;-webkit-user-select: none;/* Chrome/Safari */-moz-user-select: none;/* Firefox */-ms-user-select: none;/* IE10+ */}.cal2 .clndr .clndr-controls .clndr-previous-button:hover {
background-color: #f4f4f4;}
.cal2 .clndr .clndr-controls .month {float: left;width: 80%;text-align: center;}
.cal2 .clndr .clndr-controls .clndr-next-button {float: left;width: 10%;text-align: right;cursor: pointer;-webkit-user-select: none;/* Chrome/Safari */-moz-user-select: none;/* Firefox */-ms-user-select: none;/* IE10+ */}
.cal2 .clndr .clndr-controls .clndr-next-button:hover {background-color: #f4f4f4;}
.cal2 .clndr .clndr-grid {text-align: center;border: 1px solid #FF4545;display: inline-block;}
.cal2 .clndr .clndr-grid .header-day {float: left;width: 25px;height: 25px;background: #FF4545;}
.cal2 .clndr .clndr-grid .day {float: left;width: 25px;height: 25px;}
.cal2 .clndr .clndr-grid .day.event {background-color: #B4E09F;}
.cal2 .clndr .clndr-grid .day.today {background-color: #E3C57F;}
.cal2 .clndr .clndr-grid .day.selected {background-color: #E37FD6;}
.cal2 .clndr .clndr-grid .day.inactive {color: gray;}
.cal2 .clndr .clndr-grid .empty,
.cal2 .clndr .clndr-grid .adjacent-month {float: left;width: 25px;height: 25px;background: #ddd;}
.cal2 .clndr .clndr-today-button {width: 100%;text-align: center;cursor: pointer;}
.cal2 .clndr .clndr-today-button:hover {background-color: #ddd;}
.cal2 .multi-month-controls .quarter-button {display: inline-block;width: 25%;}
.cal2 .multi-month-controls .quarter-button:hover {cursor: pointer;background-color: #f4f4f4;}
.cal2 .day.inactive {background-color: #aaa;}

.cal3 {max-width: 100%;}
.cal3 .cal {float: left;width: 48%;margin: 0 1%;border: solid 1px #ddd;}
.cal3 .clndr .clndr-controls {display: block;display: inline-block;width: 100%;margin-bottom: 8px;}
.cal3 .clndr .clndr-controls.top {margin-bottom: 0;position: relative;z-index: 1;}
.cal3 .clndr .clndr-controls .clndr-previous-button {float: left;width: 20px;text-align: center;cursor: pointer;-webkit-user-select: none;/* Chrome/Safari */-moz-user-select: none;/* Firefox */-ms-user-select: none;/* IE10+ */vertical-align: middle;background-color: #fff;line-height: 16px;border-radius: 10px;height: 20px;margin-left: 20px;margin-top: 10px;position: absolute;}
.cal3 .clndr .clndr-controls .clndr-previous-button:hover {background-color: #fff;}
.cal3 .clndr .clndr-controls .month {text-align: center;width: 100%;margin: 0 auto;background-color: #ff5656;padding: 10px 0;line-height: 20px;color: #fff;font-weight: bold;font-size: 18px;}
.cal3 .clndr .clndr-controls .clndr-next-button {float: right;width: 20px;text-align: center;cursor: pointer;-webkit-user-select: none;/* Chrome/Safari */-moz-user-select: none;/* Firefox */-ms-user-select: none;/* IE10+ */background-color: #fff;padding: 0;height: 20px;line-height: 16px;border-radius: 10px;position: absolute;right: 21px;top: 11px;}
.cal3 .clndr .clndr-controls .clndr-next-button:hover {background-color: #f4f4f4;}
.cal3 .clndr .clndr-grid {text-align: center;/* border: 1px solid #FF4545; */display: inline-block;}
.cal3 .clndr .clndr-grid .header-day {background: #FF4545;}
.cal3 .clndr .clndr-grid .day {}
.cal3 .clndr .clndr-grid .day a {text-align: right;float: right;text-decoration: none;padding: 0 5px;color: #666;font-weight: bold;}
.cal3 .clndr .clndr-grid .day,
.cal3 .clndr .clndr-grid .header-day,
.cal3 .clndr .clndr-grid .empty,
.cal3 .clndr .clndr-grid .adjacent-month{float: left;width: 13.87%;height: 55px;border: solid 1px #d6d6d6;margin: 1px;font-size: 12px;background-color: #fff}
.cal3 .clndr .clndr-grid .header-day{
    font-weight: bold;
    font-size: 13px;
    padding: 15px 0;
    color: #666;
}
/* .cal3 .clndr .clndr-grid .day.event {background-color: #007fff;color: #fff;} */
.cal3 .clndr .clndr-grid .day .price, 
.cal3 .clndr .clndr-grid .day .checkbox {font-size: 12px;width: 100%;float: left;margin: 0;text-align: center;}
.cal3 .clndr .clndr-grid .day .checkbox input {margin:0;position: relative;}
.cal3 .clndr .clndr-grid .day.today {}
.cal3 .clndr .clndr-grid .empty,
.cal3 .clndr .clndr-grid .adjacent-month {background: #77dd77;color: #fff;}
.cal3 .clndr .clndr-today-button {width: 100%;text-align: center;cursor: pointer;}
.cal3 .clndr .clndr-today-button:hover {background-color: #ddd;}
.cal3 .multi-month-controls .quarter-button {display: inline-block;width: 25%;}
.cal3 .multi-month-controls .quarter-button:hover {cursor: pointer;background-color: #f4f4f4;}
.clndr-next-button,
.clndr-previous-button,clndr-next-year-button,
.clndr-previous-year-button {-webkit-user-select: none;/* Chrome/Safari */-moz-user-select: none;/* Firefox */-ms-user-select: none;/* IE10+ */}
.clndr-next-button.inactive,
.clndr-previous-button.inactive,
.clndr-next-year-button.inactive,
.clndr-previous-year-button.inactive {opacity: 0.5;cursor: default;}

body {background: #efefef;/* background: -moz-radial-gradient(center, ellipse cover,  #aecc8c 0%, #89b556 100%); background: -webkit-radial-gradient(center, ellipse cover,  #aecc8c 0%,#89b556 100%);background: radial-gradient(ellipse at center,  #aecc8c 0%,#89b556 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecc8c', endColorstr='#89b556',GradientType=1 );  */}
/*.logo {background-color: #fff;display: inline-block;padding: 10px;box-shadow: 0px 5px 13px rgba(0,0,0,0.5);border-radius: 0 0 0px 35px;}*/
.logo  a{color: #fff;font-size: 41px;text-decoration: none;font-family: 'Courgette';}
.hed-main {width: 100%;box-shadow: -2px 1px 2px 0 rgba(0,0,0,0.4);background-color: #ff5656;height: 62px;margin-bottom: 30px;position: fixed;z-index: 1;}
.con-hed-tit {text-align: center;font-size: 26px;color: #666;font-weight: 600;text-decoration: none;text-shadow: 1px 1px 1px #FFF;padding-bottom: 20px;}
.info-tit {color: #fff;font-size: 18px;padding: 5px 10px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+23,ffffff+100,ffffff+100&1+0,0+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */background-color: #ff5656;}
.deal-filters {width: 100%;/* background-color: #e8f1de; */border: solid 1px #fff;padding: 10px;margin-top: 10px;}
.deal-filters h3 {width: 100%;color: #666;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+23,ffffff+100,ffffff+100&1+0,0+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */font-size: 18px;padding: 10px;text-align: center;}
.deal-filters h3 span {
    background-color: #ffe6e6;
    padding: 5px 20px;
}
.deal-filters h3 .clearer-selectors {width:100%; display:inline-block; font-size:12px; padding-top:5px;}
.deal-filters h3 .clearer-selectors a {margin:0 0 0 5px; text-decoration:none;}
.deal-filters .deal_duration {width:100%;}
.deal-filters .deal_duration li{width: auto;display: inline-block;margin: 3px 5px;}
.deal-filters .deal_duration li a {width:100%;display: inline-block;padding: 5px;min-width: 100px;text-align: center;background-color: #fff;border-radius: 5px;font-size: 14px;font-weight: bold;border: solid 1px #036;text-decoration: none;}
.deal-filters .deal_duration li a.current {background-color: #036;color: #fff;}
.deal-filters .departure_airport {width:100%;padding: 0px 10px 10px 10px;}
.deal-filters .departure_airport label {width: auto;min-width: 170px;margin: 0;color: #666;}
.deal-filters .departure_airport label input {margin: 0 5px 0 0;}

.deal-filters .departure_dates {width:100%;padding: 0px 10px 10px 10px;}
.deal-filters .departure_dates label {width: auto;min-width: 120px;margin: 0;color: #036;}
.deal-filters .departure_dates label input {margin: 0 5px 0 0;}
.select-date-main {padding: 20px;border: solid 1px #fff;margin-top: 20px;display: inline-block;}
.select-date-main .date-sel {width: 100%;color: #666;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+23,ffffff+100,ffffff+100&1+0,0+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */font-size: 18px;padding: 10px;margin-bottom: 10px;text-align: center;}
.select-date-main .date-sel span{
    background-color: rgb(255, 230, 230);
    padding: 5px 20px;
    }
.select-date-main .button {padding: 0;}
.select-date-main .button a {font-size: 18px; margin-top: -8px;background-color: #ff5656;color: #fff;}
.select-date-main .button a:hover, .select-date-main .button a:focus {color: #333;  background-color: #e6e6e6}

.submit-btn input {font-size: 18px; margin-top: -8px;background-color: #ff5656; color: #fff;}
.submit-btn input:hover, .submit-btn input:focus {color: #333;  background-color: #e6e6e6}

.modal-footer button {font-size: 16px; margin-top: -8px;background-color: #ff5656; color: #fff;}
.modal-footer button:hover, .modal-footer button:focus { color: #333;  background-color: #e6e6e6}
.forms-det {max-width: 100%; width: 100%;}
.red {color:red;}
small.red {width: 100%; font-size: 11px; display: inline-block;}
.contener-parts {background-color: #fff;display: inline-block;box-shadow: 1px 6px 30px rgba(0,0,0,0.5);padding: 20px 10px;margin-bottom: 20px;width: 100%;}
.banner-slider {padding: 10px;box-shadow: 0px 0px 7px rgba(0,0,0,0.3);margin-bottom: 15px;background-color: #fff;}
.top-space-all {margin-top: 92px;}

.all-checkbox input[type=checkbox]{ display: none; }
.all-checkbox input[type=checkbox] + label.css-label {cursor: pointer;font-size: 15px;line-height: 13px;overflow: hidden;padding-right: 30px;position: relative;vertical-align: middle;border: solid 1px #fdc7c7;padding: 9px 12px 11px 30px;background-color: #ffe6e6;border-radius: 3px;font-weight: bold;}
.all-checkbox input[type=checkbox]:checked + label.css-label {background-color: #007fff;color: #fff;border: solid 1px #264b80;}
.all-checkbox input[type=checkbox] + label.css-label:before {content:"";position: absolute;left: 8px;top: 7px;height: 17px;width: 17px;background-color: #fff;box-shadow: inset 2px 2px 3px rgba(0,0,0,0.3);}
.all-checkbox input[type=checkbox]:checked + label.css-label:before {content:"\2713";position: absolute;font-size: 14px;color: #000;text-align: center;line-height: 19px;box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);font-weight: bold;}

.all-checkbox input[type=radio]{ display: none; }
.all-checkbox input[type=radio] + label.css-label {cursor: pointer;font-size: 15px;line-height: 13px;overflow: hidden;padding-right: 30px;position: relative;vertical-align: middle;border: solid 1px #fdc7c7;padding: 9px 12px 11px 30px;background-color: #ffe6e6;border-radius: 3px;font-weight: bold;}
.all-checkbox input[type=radio]:checked + label.css-label {background-color: #007fff;color: #fff;border: solid 1px #00366d;}
.all-checkbox input[type=radio] + label.css-label:before {content:"";position: absolute;left: 8px;top: 7px;height: 17px;width: 17px;background-color: #fff;box-shadow: inset 2px 2px 3px rgba(0,0,0,0.3);}
.all-checkbox input[type=radio]:checked + label.css-label:before {content:"\2713";position: absolute;font-size: 14px;color: #000;text-align: center;line-height: 19px;box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);font-weight: bold;}

.deal-filters .departure_airport .all-checkbox {width: auto;display: inline-block;margin: 4px;}
.deal-filters .departure_airport .all-checkbox label {width: auto;display: inline-block;min-width: 200px;}
.footer-main {width: 100%;background-image: -moz-linear-gradient( top, #333 0% , #1a1a1a 100% );background-image: -webkit-gradient( linear, 0 0% , 0 100% , from( #333 ), to( #1a1a1a ) );-moz-box-shadow: -2px 1px 2px 0 rgba(0,0,0,0.4);-webkit-box-shadow: -2px 1px 2px 0 rgba(0,0,0,0.4);box-shadow: -2px 1px 2px 0 rgba(0,0,0,0.4);background-color: #282828;border-top: 4px solid #ff7d7d;height: 42px;margin-top: 15px;}
.thank-you-sm {width: 100%;text-align: center;text-transform: uppercase;font-size: 30px;color: #908e8e;font-weight: bold;margin-bottom: 20px;padding: 20px;}
.thank-you-sm span {width: 100%;display: inline-block;text-align: center;font-size: 70px;color: #ff5656;margin-bottom: 20px;}
label {color:#666}
.select-but {width: 100%; padding-top: 10px; padding-bottom: 20px;}
.select-but .span {width: auto;padding-right: 15px;}
.select-but .span > div {width: auto; display: inline-block; font-size: 15px; vertical-align: middle}
.select-but .span > div .color-green {width: 30px;height: 30px;display: inline-block;background-color: #77dd77;line-height: 24px;border: solid 1px #949494;}
.select-but .span > div .color-wit {width: 30px;height: 30px;display: inline-block;background-color: #fff;line-height: 24px;border: solid 1px #949494;}
.select-but .span > div .color-blu {width: 30px;height: 30px;display: inline-block;background-color: #007fff;line-height: 24px;border: solid 1px #949494;}
.select-but .span > div span {vertical-align: middle;}

@media (max-width: 768px){
    .cal3 .clndr .clndr-grid .day, .cal3 .clndr .clndr-grid .header-day, .cal3 .clndr .clndr-grid .empty, .cal3 .clndr .clndr-grid .adjacent-month {width: 13.5%;}
    @media (max-width: 767px){
        
    }
    @media (max-width: 650px){
        .cal3 .cal {width: 100%;}
    }
}
